
<!DOCTYPE html>
<div class="center hero-unit">
<h1>Welcome to the Sample App

    <p>
      This is the home page for the
      <%= link_to 'Ruby on Rails Tutorial' , 'http://www.railstutorial.org/'%>
      sample application.
    </p>
 </h1>

 <%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
 </div>
 <%= link_to image_tag("download.png", alt: "Dipak"), 'http://rubyonrails.org/' %>