
<header class='navbar navbar-fixed-top header-color header-height'>
 <div class='navbar-inner'>

 <%= link_to 'Sample App' , '#' ,id: 'logo' %>
 <nav>
   <ul class='nav pull-right'>
     <li><%=link_to 'Home' ,'/static_pages/home' %></li>
     <li><%=link_to 'Sign In' ,'#' %></li>
     <li><%=link_to 'Help' ,'/static_pages/help' %></li>
   </ul>
 </nav>

 </div>
</header>
